<section class="container">
        <h1>Catálogo Geek</h1>
    <div class="row"> 
            <div class="ofertas">
                <img src="" alt="">
                <h3>CAPTAIN AMERICA</h3>
                <p>When Steve Rogers asked Air Force Veteran Sam Wilson for help, Wilson immediately agreed. He donned the flight suit he’d used in combat to become the Falcon, setting him on a path towards becoming an Avenger and eventually Captain America.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>LOKI</h3>
                <p>Loki, Prince of Asgard, Odinson, rightful heir of Jotunheim, and God of Mischief, is burdened with glorious purpose. His desire to be a king drives him to sow chaos in Asgard. In his lust for power, he extends his reach to Earth.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>WINTER SOLDIER</h3>
                <p>James Buchanan “Bucky” Barnes enlists to fight in World War II, but eventually literally falls in battle. Unfortunately, the evil Arnim Zola recovers him and erases his memory, turning him into a highly-trained assassin called the Winter Soldier.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>U.S.AGENT</h3>
                <p>Inspired by his military family members, John F. Walker becomes a proud patriot who wants nothing more than to be a hero. When Power Broker offers him enhanced strength, he takes it and becomes the heroic, albeit smug, U.S.Agent!</p>
            </div>

            <div class="ofertas">
                <img src="" alt="">
                <h3>CAPTAIN AMERICA</h3>
                <p>When Steve Rogers asked Air Force Veteran Sam Wilson for help, Wilson immediately agreed. He donned the flight suit he’d used in combat to become the Falcon, setting him on a path towards becoming an Avenger and eventually Captain America.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>LOKI</h3>
                <p>Loki, Prince of Asgard, Odinson, rightful heir of Jotunheim, and God of Mischief, is burdened with glorious purpose. His desire to be a king drives him to sow chaos in Asgard. In his lust for power, he extends his reach to Earth.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>WINTER SOLDIER</h3>
                <p>James Buchanan “Bucky” Barnes enlists to fight in World War II, but eventually literally falls in battle. Unfortunately, the evil Arnim Zola recovers him and erases his memory, turning him into a highly-trained assassin called the Winter Soldier.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>U.S.AGENT</h3>
                <p>Inspired by his military family members, John F. Walker becomes a proud patriot who wants nothing more than to be a hero. When Power Broker offers him enhanced strength, he takes it and becomes the heroic, albeit smug, U.S.Agent!</p>
            </div>

            <div class="ofertas">
                <img src="" alt="">
                <h3>CAPTAIN AMERICA</h3>
                <p>When Steve Rogers asked Air Force Veteran Sam Wilson for help, Wilson immediately agreed. He donned the flight suit he’d used in combat to become the Falcon, setting him on a path towards becoming an Avenger and eventually Captain America.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>LOKI</h3>
                <p>Loki, Prince of Asgard, Odinson, rightful heir of Jotunheim, and God of Mischief, is burdened with glorious purpose. His desire to be a king drives him to sow chaos in Asgard. In his lust for power, he extends his reach to Earth.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>WINTER SOLDIER</h3>
                <p>James Buchanan “Bucky” Barnes enlists to fight in World War II, but eventually literally falls in battle. Unfortunately, the evil Arnim Zola recovers him and erases his memory, turning him into a highly-trained assassin called the Winter Soldier.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>U.S.AGENT</h3>
                <p>Inspired by his military family members, John F. Walker becomes a proud patriot who wants nothing more than to be a hero. When Power Broker offers him enhanced strength, he takes it and becomes the heroic, albeit smug, U.S.Agent!</p>
            </div>

            <div class="ofertas">
                <img src="" alt="">
                <h3>CAPTAIN AMERICA</h3>
                <p>When Steve Rogers asked Air Force Veteran Sam Wilson for help, Wilson immediately agreed. He donned the flight suit he’d used in combat to become the Falcon, setting him on a path towards becoming an Avenger and eventually Captain America.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>LOKI</h3>
                <p>Loki, Prince of Asgard, Odinson, rightful heir of Jotunheim, and God of Mischief, is burdened with glorious purpose. His desire to be a king drives him to sow chaos in Asgard. In his lust for power, he extends his reach to Earth.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>WINTER SOLDIER</h3>
                <p>James Buchanan “Bucky” Barnes enlists to fight in World War II, but eventually literally falls in battle. Unfortunately, the evil Arnim Zola recovers him and erases his memory, turning him into a highly-trained assassin called the Winter Soldier.</p>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h3>U.S.AGENT</h3>
                <p>Inspired by his military family members, John F. Walker becomes a proud patriot who wants nothing more than to be a hero. When Power Broker offers him enhanced strength, he takes it and becomes the heroic, albeit smug, U.S.Agent!</p>
            </div>
    </div>
</section>
